<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header th:replace="fragments/header :: header"></header>

    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Reset Password form
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form th:action="@{/reset-password-form}" method="post">
              <input type="hidden" name="email" th:value="${email}" />
              <label>New Password:</label>
              <input type="password" class="form-control" name="password" required />
              <button class="form-control" type="submit">Reset Password</button>
          </form>
          
            
          </div>
       
      </div>
    </div>
  </section>
  <!-- end book section -->
  <footer th:replace="fragments/footer :: footer"></footer>


</body>

</html>